*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --primary-color: #170322;
  --dark-color: #07050e;
  --accent-color: rgb(110, 64, 219);
  --navbar-btn-color: rgba(52, 52, 68);
  --light-color: #f3f3f3;
  --font-accent-color: #808080;
  --card-background-color: rgb(76, 70, 87);
  --secondary-background-color: rgb(49, 37, 71);
  --light-font-color: #f3f3f3;
  --login-primary-background-color: rgba(25, 20, 65%);
  --login-secondary-background-color: rgba(17, 17, 19, 50%);
  --font-xs:1.2rem;
  --font-s: 1.5rem;
  --font-m: 2rem;
  --font-l: 3rem;
  --font-xl: 4rem;
  --font-xxl: 7rem; 
  --avatar-size: 7rem;
  --avatar-radius: 2rem;
  --card-radius: 1.5rem;
  --circle-radius: 4rem;
}


html {
  font-size: 62.5%;
  font-family: "montserrat", "Helvetica Neue", "Helvetica";
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: white;
  font-size: 1.5rem;
  background: linear-gradient(
    90deg,
    var(--dark-color) 0%,
    var(--primary-color) 75%
    
  );
}

button {
  cursor: pointer;
  font-family: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--light-color);
  cursor: pointer;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  padding: 0 1rem;
}

.btn {
  font-family: inherit;
  text-overflow: none;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  border-radius: 2rem;
  outline: 0;
  border: none;
  box-shadow: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.btn {
  font-family: inherit;
  text-overflow: none;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  border-radius: 2rem;
  outline: 0;
  border: none;
  box-shadow: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.btn__primary {
  background-color: var(--primary-color);
  color: var(--light-color);
  box-shadow: inset 0 0 0 0.1rem var(--accent-color);
}

.btn__secondary {
  background-color: var(--primary-color);
  color: var(--light-color);
  box-shadow: inset 0 0 0 0.1rem var(--font-accent-color);
}

.btn__long{
  padding: 1rem ;
  background-color: transparent;
  border: 1px solid var(--light-color);
  color: var(--font-primary-color);
}

.btn__long:hover{
  background-color: var(--accent-color);
}

.btn__primary:hover {
  background-color: var(--accent-color);
  color: var(--light-color);
}

.btn__secondary:hover {
  background-color: var(--font-accent-color);
  color: var(--dark-color);
}

.secondary-text {
  color: var(--font-accent-color);
  font-family: inherit;
}

